<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.netty.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.netty.pojo.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pwd" property="pwd"/>
		<result column="connected" property="connected"/>
		<result column="mostsignbits" property="mostsignbits"/>
		<result column="leastsignbits" property="leastsignbits"/>
        <association property="role" javaType="com.example.netty.pojo.Role">
            <id column="id" property="id"/>
            <result column="rname" property="rName"/>
            <result column="rremark" property="rRemark"/>
        </association>
    </resultMap>


  <select id="login" resultMap="BaseResultMap">
SELECT
	u.id,
	u.`name`,
	u.pwd,
	u.connected,
	u.mostsignbits,
	u.leastsignbits,
	r.rname,
	r.rremark
FROM
	db_user u
	LEFT JOIN db_role r ON u.role = r.id
WHERE
	u.`name` = #{name}
	AND u.pwd = #{pwd}
  </select>
    <select id="getUser" resultMap="BaseResultMap">
        SELECT
	u.id,
	u.`name`,
	u.pwd,
	u.connected,
	u.mostsignbits,
	u.leastsignbits,
	r.rname,
	r.rremark
FROM
	db_user u
	LEFT JOIN db_role r ON u.role = r.id
WHERE
	u.`name` = #{name}
    </select>
	<update id="save">
		update  db_user set connected=#{connected},mostsignbits=#{mostsignbits},leastsignbits=#{leastsignbits} where `name`=#{name}
	</update>
</mapper>